{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- KENBURN BG -->
    <section  class="home-section kenbarn">
      <div class="image-wrap">
        <div class="kenburn-overlay">
          <div class="intro-section text-center">

            <h1 class="intro hs11-h1 text-white-5" style="margin-top: 100px;">£ANDÉ</h1>



          </div>
        </div>
      </div>
    </section>
    <!-- Scroll Down Indicator -->
    <span class="scroll-btn"><a href="#services"><span class="mouse"><span><i class="arrow_carrot-down"></i></span></span></a></span>
  </header>
  <!-- /END HEADER -->






  <section class="section-top-interior about-int cr-bg-color pad-bot-0" id="about">
    <div class="container">
      <div class="row">

        <!-- ABOUT SECTION HEADER -->
        <div class="section-header">

          <!-- SERVICE SECTION TITLE -->
          <h2 class="smt-interior"><span>Reimagine Luxury </span></h2>


        </div>
        <!-- /END  ABOUT SECTION HEADER -->

        <!-- ABOUT SECTION BIO -->
        <div class="about-us interior">
          <div class="col-md-offset-1 col-md-11">

            <div class="col-md-4">
              <div class="featured-item feature-outline m-bot-60">
                <div class="icon theme-color">
                  <i class=" ion-ios-bell-outline"></i>
                </div>
                <div class="int-title">
                  Luxury Goods
                </div>
                <div class="desc">

                      We provide unlimited access to designer brands through digital experiences targeted at your comfort.

                </div>

              </div>
            </div>
            <div class="col-md-4">
              <div class="featured-item feature-outline m-bot-60">
                <div class="icon theme-color">
                  <i class="ion-ios-rose-outline"></i>
                </div>
                <div class="int-title">
                  Luxury Living
                </div>
                <div class="desc">
                    We offer optimum comfort through redefined living spaces and environment.

                </div>

              </div>
            </div>
            <div class="col-md-4">
              <div class="featured-item feature-outline m-bot-60">
                <div class="icon theme-color">
                  <i class="ion-ios-paw-outline"></i>
                </div>
                <div class="int-title">
                  Luxury Services
                </div>
                <div class="desc">
                    We provide an impeccable unique travel and hospitality experience.

                </div>

              </div>
            </div>



          </div>

        </div><!-- ABOUT SECTION END -->



      </div>
      <!-- END ROW -->
    </div>

  </section>
  <!-- ABOUT US SECTION END -->

  <!-- =========================
  PORTFOLIO
  ============================== -->
  <section class="cr-bg-color" id="portfolio">

    <div class="section-header pad-top-30">

      <!-- SERVICE SECTION TITLE -->
      <!-- <div class="smt-interior "><span>Our Brands</span></div>
                It holds the line Our creation, it will hold the brands we are able to bring onboard.
    </div> -->

    <div class=" fluid nopadding">
      <div class="row">
        <!-- /END PORTFOLIO HEADER -->

        <!--banner third block-->
        <div class="bann-third-block">
          <div class="bann-third-block-main">
            <div class="col-md-4 bann-third-block-left">
              <div class="grid-waves-effect horizontal">
                <div class="img-box"><img src="{% static 'images/eande/c1.jpg' %}" alt=""></div>
                <div class="text-box">
                  <div class="text-content">
                    <h3><span>Retail</span></h3>
                    <!-- <p>Interior design of hotel la meridian,san-fransisco valued customer. </p> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 bann-third-block-left">
              <div class="grid-waves-effect horizontal">
                <div class="img-box"><img src="{% static 'images/eande/c2.jpg' %}" alt=""></div>
                <div class="text-box">
                  <div class="text-content">
                    <h3><span>Real Estate</span></h3>
                    <!-- <p> Office interior design of hotel atlantis,florida our valued customer. </p> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 bann-third-block-left">
              <div class="grid-waves-effect horizontal">
                <div class="img-box"><img src="{% static 'images/eande/c3.jpg' %}" alt=""></div>
                <div class="text-box">

                  <div class="text-content">
                    <h3><span>Travel</span></h3>
                    <!-- <p>Interior design of hotel atlantis,florida our valued customer. </p> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <!--banner third block end here-->


        <!--banner four block end here-->
        <!--banner five block strarts here-->
        {% comment %} <div class="bann-third-block">
          <div class="bann-third-block-main">
            <div class="col-md-8 bann-third-block-left">
              <div class="grid-waves-effect horizontal">
                <div class="img-box"><img src="{% static 'images/eande/b4.jpg' %}" alt=""></div>
                <div class="text-box">
                  <div class="text-content">
                    <h3><span>photography</span></h3>
                    <p>consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 bann-third-block-left ">
              <div class="grid-waves-effect horizontal">
                <div class="img-box"><img src="{% static 'images/eande/b5.jpg' %}" alt=""></div>
                <div class="text-box">
                  <div class="text-content">
                    <h3><span>design</span></h3>
                    <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"> </div>
          </div>
        </div> {% endcomment %}
        <!--banner five block strarts here-->



      </div>

    </div>


  </section>


  <!-- =========================
  TEAM
  ============================== -->

  <section id="team" class="team cr-bg-cl-2 section-top pad-bot-30">

    <div class="container">

      <!--TEAM SECTION HEADER -->
      <div class="section-header ">

        <!-- SERVICE SECTION TITLE -->
        <div class="smt-interior "><span>Behind the story</span></div>


      </div>
      <!-- /END SECTION HEADER -->


      <!-- TEAM MATE-1 -->

      <div class="col-md-6">
        <div class="team-member">
          <div class="team-img">
            <img src="{% static 'images/team/uc.jpg' %}" alt="An Image of Uchechukuw Mbah E. Co-founder and CEO"
                width = "3840"
                height = "4478"/>
          </div>
        </div>
        <div class="team-title">
          <h5>Uchechukwu Mbah E.</h5>
          <span>co-founder &amp; ceo</span>
          <!-- <div class="t-s-link">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </div> -->

        </div>
      </div>


      <!-- TEAM MATE-2 -->
      <div class="col-md-6">
        <div class="team-member">
          <div class="team-img">
            <img src="{% static 'images/team/test.jpg' %}" alt="An Image of Chukwuma Akunyili E. Co-founder & CTO"
                 width = "3840"
                 height = "4478"/>
          </div>
        </div>
        <div class="team-title">
          <h5>Chukwuma Akunyili E.</h5>
          <span>co-founder &amp; cto</span>
          <!-- <div class="t-s-link">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </div> -->

        </div>
      </div>







    </div> <!-- END CONTAINER -->

  </section>


  <!-- CALL TO ACTION -->

  <div>
    <div class="row">
      <div class="col-md-12">


        <section class="callto" id="callto">
          <!-- COLOR OVERLAY -->
          <div class="color-overlay">
            <div class="container">

              <div class="row">
                <div class="col-md-offset-3 col-md-6 col-md-offset-3 ">

                  <div class="call-info">
                    <span class="call-subtitle">We are building LUXFRICA</span>
                    <body style = "text-align:center; color: white" >
                    <p></p>
                      <p>The metaverse first luxury marketplace in Africa.</p>
                        <body style = "text-align:center; color: white">
                        <p>
                        <button style = "background-color: black; color: white;" >
                          <a href="https://luxfrica.herokuapp.com"
                             target="_blank"
                             rel="noopener noreferrer nofollow"
                             style="color: white; text-decoration: none;">
                            Click Here To Experience
                          </a>
                        </button>
                        </p>

                        </body>



                  </div>

                  <a href="#contact" class="btn btn-home hvr-bounce-to-right-white">CONTACT</a>

                </div>

              </div> <!-- END ROW -->


            </div>
            <!-- /END CONTAINER -->
          </div>
          <!-- /END COLOR OVERLAY -->
        </section>
        <!-- /END CALL TO ACTION SECTION -->
      </div>
    </div>
  </div>

  <!-- =========================
  What we do, i cut this and put it in my notes, with a softcopy on google keep
  ============================== -->
  <section class=" services cr-bg-color" id="services-1">

    <!-- /END SERVICE SECTION HEADER -->
    <div class="row no-gutter">
      <!-- SINGLE SERVICE -->
      <div class="col-md-4">
        <div class="avatar"> <div class="const-img-border-small-fix  "></div><img src="{% static 'images/eande/man.jpg' %}" alt="" class="fit-img"> </div>
      </div>
      <div class="col-md-8">
        <div class="const-srv-title">
          What we do
        </div>
        <div class="const-srv">
          <div class="col-md-6">
            <div class="constr-item const-choice text-left m-b-30">
              <div class="icon">
                <i class="icon-circle-compass"></i>
              </div>
              <div class="int-title text-uppercase">
                Luxury Retail x Branding
              </div>
              <div class="desc">
                Offering curated retail experiences tailored to provide immersive shopping online.
                Promoting and Managing International and Home-grown luxury brands within Africa.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="constr-item const-choice text-left m-b-30">
              <div class="icon ">
                <i class="icon-tools-2"></i>
              </div>
              <div class="int-title text-uppercase">
                Luxury Living x Lifestyle
              </div>
              <div class="desc">
                Constantly pushing the boundaries of luxury living in Africa, focused on private aviation and luxury real Estate
                to create a blend in luxury living culture.
              </div>
            </div>
          </div>
         <!--  <div class="col-md-12">
            <div class="constr-item const-choice text-left m-b-30">
              <div class="icon">
                <i class="icon-speedometer"></i>
              </div> -->
              <!-- <div class="int-title text-uppercase">
                Products
              </div>
              <div class="desc">
                £ANDÉ sells products of partnered brands and our self-designed luxury products such as
                handbags, shoes, iconic jewelries, dress shirts, wallets, belts, clothing accessories,
                 watches, briefcases, fragrances, eyewear, timepieces, leather goods, ready-to-wear, fur, perfumery,
                 made to order services and much more.
                 The greatest percentage of merchandise will be in apparels followed by accessories and gifts.
              </div> -->
            <!-- </div>
          </div> -->
          {% comment %} <div class="col-md-6">
            <div class="constr-item const-choice text-left m-b-30">
              <div class="icon ">
                <i class="icon-edit"></i>
              </div>
              <div class="int-title text-uppercase">
                branding
              </div>
              <div class="desc">
                Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi Nam pulvinar vitae neque et porttitor.
              </div>
            </div>
          </div> {% endcomment %}
        </div>




      </div>
      <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->
  </section>





  <!-- =========================
  skills
  ============================== -->
  <div class="int-skills cr-bg-cl-2">
    <div class="">
      <div class="row">
        <div class="col-md-offset-1 col-md-6">
          <!-- SKILLS PART START -->
          <div class="int-skill">
            <h4 class="about-subtitle-2">Our Services</h4>
              <div class="desc">

              </div>

            <!-- SKILL BAR START -->
            <div style="text-align: right;">
            <ul class="progress-skill-bar">
              <li>Fashion Retail<div class="label numbers">90%</div></li>
              <li>
                <div class="progress">
                  <div class="bar" data-value="90" role="progressbar">
                    90
                  </div>
                </div>
              </li>

              <li>Brand Management  <div class="label numbers">85%</div></li>
              <li>
                <div class="progress">
                  <div class="bar" data-value="85" role="progressbar">
                    85
                  </div>
                </div>
              </li>

              <li>Real Estate <div class="label numbers">70%</div></li>
              <li>
                <div class="progress">
                  <div class="bar" data-value="70" role="progressbar">
                    70
                  </div>
                </div>
              </li>

              <li>Concierge Services<div class="label numbers">70%</div></li>
              <li>
                <div class="progress">
                  <div class="bar" data-value="70" role="progressbar">
                    70
                  </div>
                </div>
              </li>

            </ul>
          </div>
            <!-- SKILL BAR END-->
          </div>
          <!-- SKILL PARTS END-->

          <!-- <div class="row" id="funfactor">
            <div style="text-align: center;">
             <div class="col-md-3">


              <div class="fun-info">
                <h2 class="timer numbers" data-from="0" data-to="0"> 0</h2>
                <span class="fun-work">happy clients</span>
              </div>

            </div>
            <div class="col-md-3">


              <div class="fun-info">
                <h2 class="timer numbers" data-from="0" data-to="2"> 2 </h2>
                <span class="fun-work">project finished</span>
              </div>

            </div>
            <div class="col-md-3">


              <div class="fun-info">
                <h2 class="timer numbers" data-from="0" data-to="0"> 0 </h2>
                <span class="fun-work">case solved</span>
              </div>

            </div>
            <div class="col-md-3">


              <div class="fun-info">
                <h2 class="timer numbers" data-from="0" data-to="1"> 1 </h2>
                <span class="fun-work">Agreements</span>
              </div>

            </div>
          </div>
        </div> <-- END ROW -->

        </div> -->

        <!-- <div class="col-md-5">
          <div class="fit-image nopadding">
            <img src="{% static 'images/eande/africa.jpg' %}" alt="arch-img">
          </div>
        </div> -->

      </div>

    </div>
  </div>



  {% comment %} <div class="section-top cr-bg-color">
    <div class="row">
      <div class="col-md-12">
        <div class=" clients">
          <div class="container">
            <div class="row">
              <div class="col-md-12">

                <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                  <!-- CLIENTS LOGO -->
                  <ul class="clients  grid-5 ">
                    <li><a href="#"><img src="{% static 'images/clients/cl-2.png' %}" alt="Clients"></a></li>
                    <li><a href="#"><img src="{% static 'images/clients/cl-1.png' %}" alt="Clients"></a></li>
                    <li><a href="#"><img src="{% static 'images/clients/cl-3.png' %}" alt="Clients"></a></li>
                    <li><a href="#"><img src="{% static 'images/clients/cl-2.png' %}" alt="Clients"></a></li>
                    <li><a href="#"><img src="{% static 'images/clients/cl-4.png' %}" alt="Clients"></a></li>

                  </ul>

                </div>
              </div>
            </div>  <!-- END ROW -->

          </div>    <!-- END CONTAINER -->

        </div>

      </div>
    </div>
  </div> {% endcomment %}



  <!-- =========================
  CONTACT
  ============================== -->


  <section class="contact" id="contact">
    <div class="contact-arch">
      <div class="contact-arch-overlay">
        <div class="contact-box">

          <!-- /END CONTACT SECTION HEADER -->

          <!-- CONTACT SECTION START -->
          <div class="row">
            <!-- CONTACT FORM -->

            <div class="col-md-offset-2 col-md-8 pad-top-50">
              <!--CONTACT  SECTION HEADER -->
              <div class="section-header pad-top-30">

                <!-- SERVICE SECTION TITLE -->
                <div class="smt-interior "><span>contact us</span></div>


              </div>

              <!-- FORM START -->
              <form class="contact-form archi-contact" action="https://formsubmit.co/hello@eandeafrica.com" method="POST">
                {% csrf_token %}
                <!-- IF MAIL SENT SUCCESSFULLY -->
                <h4 class="success text-success">
                  <i class="icon_check"></i> Your message has been sent successfully.
                </h4>

                <!-- IF MAIL SENDING UNSUCCESSFULL -->
                <h4 class="error text-danger">
                  <i class="icon_error-circle"></i> Please enter a valid email and message must be longer than 1 character.
                </h4>

                <div class="col-md-6">
                  {{form.name}}

                </div>

                <div class="col-md-6">
                  {{form.email}}
                </div>

                <div class="col-md-12">
                  {{form.subject}}
                  {{form.msg}}
                </div>
                <!-- <input type="submit" class="btn hvr-bounce-to-right" name="submit" value="SEND MESSAGE"> -->
                <button class="btn hvr-bounce-to-right" type="submit" id="submit" name="submit" data-style="expand-left">Send Message</button>

                <input type="hidden" name="_captcha" value="false">

              </form>
              <!-- /END FORM -->

            </div>

          </div>
          <!-- /END ROW -->

        </div>
        <!-- /END CONTACT BOX -->
      </div>
    </div>
    <!-- /END CONTAINER -->

  </section>




  <!-- =========================
  GOOGLE MAP
  ============================== -->

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.653102545587!2d3.382843950419648!3d6.565395224472859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8d7dc3a08827%3A0x96989ecfd7e4d8ff!2s12%20Nwabuo%20Brown%20St%2C%20Ifako%20100242%2C%20Lagos!5e0!3m2!1sen!2sng!4v1597231281958!5m2!1sen!2sng" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>

{% endblock content %}
