{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="£andé Luxury, Creating and promoting luxury in Africa.">
  <meta name="keywords" content="eandeluxury, eande">
  <meta name="author" content="rashed amin">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- SITE TITLE -->
  <title>£andé Luxury</title>

  <!-- =========================
  FAV AND TOUCH ICONS (RETINA)
  ============================== -->
  <link rel="icon" href="{% static 'images/logo.png' %}">
  <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}" sizes="16x16" />
  <meta name="msapplication-TileImage" content="ms-icon-144x144.html" />

  <!-- =========================
  STYLESHEETS
  ============================== -->
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">


  <!-- FONT ICONS -->
  <link rel="stylesheet" href="{% static 'assets/elegant-icons/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/et-line-font/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/ion-icon/ionicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.css' %}">

  <!-- CAROUSEL AND LIGHTBOX -->
  <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'css/nivo-lightbox.css' %}">
  <link rel="stylesheet" href="{% static 'css/nivo_themes/default/default.css' %}">



  <!-- ANIMATIONS -->
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

  <!-- MAIN STYLESHEETS -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <!-- KENBURN SLIDE SHOW -->
  <link rel="stylesheet" href="{% static 'css/vegas.min.css' %}">

  <!-- COLORS -->
  <link rel="stylesheet" href="{% static 'css/color-schemes/light-teal.css' %}">

  <!-- RESPONSIVE FIXES -->


</head>

<body>

  <!-- =========================
  PRE LOADER
  ============================== -->
  <div class="preloader">
    <div id="ip-container" class="ip-container">
      <div class="ip-header">
        <div class="ip-loader">
          <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
            <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
            <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <!-- =========================
  HEADER
  ============================== -->


  <header class="header" id="home">
    <!-- HEADER COLOR OVER IMAGE -->

    <!-- STICKY NAVIGATION -->
    <div class="navbar bs-docs-nav navbar-fixed-top sticky-navigation">
      <div class="container">
        <div class="navbar-header">

          <!-- LOGO ON STICKY NAV BAR -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#"><img src="{% static 'images/logo.png' %}" alt="logo" /><div class="logo-title">£ANDÉ Luxury</div></a>

        </div>

        <!-- NAVIGATION LINKS -->
        <div class="navbar-collapse collapse" id="navigation">
          <ul class="nav navbar-nav navbar-right main-navigation">
            <li><a href="#home">home</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#portfolio">portfolio</a></li>
            <li><a href="#services-1">services</a></li>
            <li><a href="#team">team</a></li>
            <li><a href="#contact">contact</a></li>
          </ul>
        </div> <!--END NAVIGATION LINKS -->
      </div> <!-- /END CONTAINER -->
    </div> <!-- /END STICKY NAVIGATION -->

    {% block content %}
    {% endblock content %}



  <!-- =========================
  FOOTER
  ============================== -->
  <footer class="footer-section footer-1">
    <div class="row footer-content">
      <div class="col-md-6 footer-column">
        <!-- footer logo -->
        <div class="footer-logo">
          <img src="{% static 'images/logo.png' %}" alt="logo" />
          <p>£ANDÉ Luxury</p>
        </div>
        <div class="footer-desc">
          Creating and promoting luxury in Africa.
        </div>
        <!-- COPYRIGHT TEXT -->
        <div class="copyright-3">&copy; £andé. All Rights Reserved.</div>
      </div>
      <div class="col-md-3 footer-column">
        <ul class="footer__nav-list">
          <li class="footer__nav-item footer__nav-item--heading">Company</li>
          <li class="footer__nav-item"><a href="#about" class="footer__nav-link">About</a></li>
          <li class="footer__nav-item"><a href="blog-list-01.html" class="footer__nav-link">Services</a></li>
          <li class="footer__nav-item"><a href="#contact-us" class="footer__nav-link">Contact</a></li>
          <li class="footer__nav-item"><a href="#policy" class="footer__nav-link">Team</a></li>
        </ul>
      </div>

      <div class="col-md-3 footer-column">
        <ul class="footer__nav-list">
          <li class="footer__nav-item footer__nav-item--heading">Contact</li>
          <li>12 Nwabuo Brown street, Gbagada,<br>
            Lagos, Nigeria, Africa.</li>

            <li class="email-3">hello@eandeafrica.com</li>
            <li class="footer__nav-item social-li"><a href="https://twitter.com/eandeafrica" class="footer__nav-link">TWITTER</a><a href="https://instagram.com/eandeafrica/" class="footer__nav-link">INSTAGRAM</a></li>
          </ul>
        </div>

      </div>
      <!-- SCROLL UP -->
      <div class="scroll-up">
        <a class="theme-color-bg" href="#home"><i class="fa fa-angle-up"></i></a>
      </div>


    </footer>
    <!-- /END FOOTER -->

    <!-- =========================
    SCRIPTS
    ============================== -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'js/jquery.localScroll.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'js/jquery.nav.js' %}"></script>
    <script src="{% static 'js/matchMedia.js' %}"></script>
    <script src="{% static 'js/jquery.fitvids.js' %}"></script>
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <script src="{% static 'js/nivo-lightbox.min.js' %}"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.js' %}"></script>
    <script src="{% static 'js/pathLoader.js' %}"></script>
    <script src="{% static 'js/vegas.min.js' %}"></script> <!-- Kenburn -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script>
      $('.kenbarn').vegas({
        overlay: true,
        transition: 'fade',
        transitionDuration: 4000,
        delay: 10000,
        animation: 'random',
        animationDuration: 20000,
        slides: [
          { src: '{% static 'images/eande/kenburn-1.jpg' %}' },
          { src: '{% static 'images/eande/kenburn-2.jpg' %}' },
          { src: '{% static 'images/eande/kenburn-3.jpg' %}' },
          { src: '{% static 'images/eande/kenburn-4.jpg' %}' }
        ]
      });
    </script>

  </body>

</html>
